.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars

__pycache__/
*.py[cod]
.env
.venv/
venv/

.DS_Store
